config/.config/dconf/*
config/.themes/*
config/**/*.uuid
config/.icons/*
config/.config/KDE/*
config/.config/falkon/*
config/.config/ghostty/iTerm2-Color-Schemes/*
config/.config/ghostty/themes/*
config/.config/helix/runtime/*
config/.config/kak/colors/*
config/.config/kak/plugins/*
config/.config/mutt/chalupmc@rose-hulman
config/.config/mutt/mikecchalupiak@outlook
config/.config/mutt/spamreciver1@outlook
config/.config/qt5ct/colors/*
config/.config/qutebrowser/autoconfig.yml
config/.config/qutebrowser/rosepine/*
config/.config/zathura/colors
config/.doom.d/flycheck_config.el
config/.scripts/kkse
config/.scripts/mlvwm-alert
config/.scripts/mlvwm-confirm
config/.scripts/mlvwm-message
config/.scripts/mlvwm-powerdown
config/.scripts/mlvwm-restart
config/.scripts/mlvwm-screenshot
config/.scripts/pipewire-launch
/config/.emacs.d/undo-fu-session/
/config/.emacs.d/tree-sitter/
/config/.emacs.d/tramp
/config/.emacs.d/straight/
/config/.emacs.d/recentf
/config/.emacs.d/places
/config/.emacs.d/parinfer-rust/
/config/.emacs.d/history
/config/.emacs.d/eshell/
/config/.emacs.d/elpa/
/config/.emacs.d/eln-cache/
/config/.emacs.d/auto-save-list/
