config/.config/kak/al/rc/org.kak
config/.config/kak/mru_files.txt
config/.scripts/baraction.sh
config/.scripts/brave.sh
config/.scripts/tmux-change-dir.sh
config/.config/dconf/
config/.themes/
config/**/*.uuid
config/.icons/
config/.config/KDE/
config/.config/falkon/
config/.config/ghostty/iTerm2-Color-Schemes/
config/.config/ghostty/themes/
config/.config/helix/runtime/
config/.config/kak/colors/
config/.config/kak/plugins/
config/.config/mutt/chalupmc@rose-hulman
config/.config/mutt/mikecchalupiak@outlook
config/.config/mutt/spamreciver1@outlook
config/.config/qt5ct/colors/
config/.config/qutebrowser/autoconfig.yml
config/.config/qutebrowser/rosepine/
config/.config/zathura/colors
config/.doom.d/flycheck_config.el
config/.scripts/kkse
config/.scripts/mlvwm-alert
config/.scripts/mlvwm-confirm
config/.scripts/mlvwm-message
config/.scripts/mlvwm-powerdown
config/.scripts/mlvwm-restart
config/.scripts/mlvwm-screenshot
config/.scripts/pipewire-launch
