# lua
[lua.grammar.source.git]
url = "https://github.com/tree-sitter-grammars/tree-sitter-lua"
pin = "88e446476a1e97a8724dff7a23e2d709855077f2"

[lua.grammar]
path = "src"
compile = "cc"
compile_args = ["-c", "-fpic", "../scanner.c", "../parser.c", "-I", ".."]
compile_flags = ["-O3"]
link = "cc"
link_args = ["-shared", "-fpic", "scanner.o", "parser.o", "-o", "lua.so"]
link_flags = ["-O3"]

[language.lua.queries.source.git]
url = "https://github.com/helix-editor/helix"
pin = "6bedca80646ce7350fb73029adf802ce7d9e241d"
# url = "https://github.com/nvim-treesitter/nvim-treesitter"
# pin = "5f38dffb6a07669a678f073bfe0f62b1a020dffc"

[language.lua.queries]
path = "runtime/queries/lua"
# path = "queries/lua"

# clojure
# [language.clojure.grammar.source.git]
# url = "https://github.com/sogaiu/tree-sitter-clojure"
# pin = "f4236d4da8aa92bc105d9c118746474c608e6af7"

# [language.clojure.grammar]
# path = "src"
# compile = "cc"
# compile_args = ["-c", "-fpic", "../parser.c", "-I", ".."]
# compile_flags = ["-O3"]
# link = "cc"
# link_args = ["-shared", "-fpic", "parser.o", "-o", "clojure.so"]
# link_flags = ["-O3"]

# [language.clojure.queries.source.git]
# url = "https://github.com/helix-editor/helix"
# pin = "6bedca80646ce7350fb73029adf802ce7d9e241d"

# [language.clojure.queries]
# path = "runtime/queries/clojure"

#ocaml
[ocaml.grammar.source.git]
url = "https://github.com/tree-sitter/tree-sitter-ocaml"
pin = "ef6ed4a773a260545f0b03c43d2ca78235e9a488"

[ocaml.grammar]
path = "grammars/ocaml/src"
compile = "cc"
compile_args = ["-c", "-fpic", "../scanner.c", "../parser.c", "-I", ".."]
compile_flags = ["-O3"]
link = "cc"
link_args = ["-shared", "-fpic", "scanner.o", "parser.o", "-o", "ocaml.so"]
link_flags = ["-O3"]

[language.ocaml.queries.source.git]
url = "https://github.com/helix-editor/helix"
pin = "6bedca80646ce7350fb73029adf802ce7d9e241d"

[language.ocaml.queries]
path = "runtime/queries/ocaml"

# typst
[typst.grammar.source.git]
url = "https://github.com/uben0/tree-sitter-typst"
pin = "46cf4ded12ee974a70bf8457263b67ad7ee0379d"

[typst.grammar]
path = "src"
compile = "cc"
compile_args = ["-c", "-fpic", "../scanner.c", "../parser.c", "-I", ".."]
compile_flags = ["-O3"]
link = "cc"
link_args = ["-shared", "-fpic", "scanner.o", "parser.o", "-o", "typst.so"]
link_flags = ["-O3"]

[language.typst.queries.source.git]
url = "https://github.com/uben0/tree-sitter-typst"
pin = "46cf4ded12ee974a70bf8457263b67ad7ee0379d"

[language.typst.queries]
path = "queries/typst"

# swift
[swift.grammar.source.git]
url = "https://github.com/alex-pinkus/tree-sitter-swift"
pin = "57c1c6d6ffa1c44b330182d41717e6fe37430704"

[swift.grammar]
path = "src"
compile = "cc"
compile_args = ["-c", "-fpic", "../scanner.c", "-I", ".."]
compile_flags = ["-O3"]
link = "cc"
link_args = ["-shared", "-fpic", "scanner.o", "-o", "swift.so"]
link_flags = ["-O3"]

[language.swift.queries.source.git]
url = "https://github.com/helix-editor/helix"
pin = "6bedca80646ce7350fb73029adf802ce7d9e241d"

# url = "https://github.com/alex-pinkus/tree-sitter-swift"
# pin = "57c1c6d6ffa1c44b330182d41717e6fe37430704"

[language.swift.queries]
path = "runtime/queries/swift"
